//FONTS
$font-app: "Open Sans", sans-serif;
$font-title: "Yellowtail", cursive;
//COLORS
$white: #f7f2e1;
$secondary-white: #e4f492;
$dark: #060807;
$grey: #aa9d81;
//PRIMARY
$primary-light: #fcbd49;
$primary-medium: #c6602e;
$primary-dark: #a00f22;
//SECONDARY
$secondary-light: #dec46e;
$secondary-medium: #a5ba40;
$secondary-dark: #247f3d;
